<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha tecnica</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">
            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <h1 class="h3 mb-4 text-gray-800">Adjuntar ficha técnica</h1>

                    <div class="col-12 pt-4">
                        <h6 class="mb-4">Activos sin ficha técnica</h6>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID primario</th>
                                    <th scope="col">ID secundario</th>
                                    <th scope="col">Tipo de equipo</th>
                                    <th scope="col">Subcliente</th>
                                    <th scope="col">Adjuntar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let activo of listaActivos">
                                    <th>{{activo.id_primario}}</th>
                                    <td>{{activo.id_secundario}}</td>
                                    <td>{{activo.tipo_de_equipo}}</td>
                                    <td>{{activo.subcliente}}</td>
                                    <td><button (click)="obtener_id_activo(activo)" type="button" class="btn btn-success" data-bs-toggle="modal"
                                            data-bs-target="#Modal_adjuntar_ficha">
                                            <i class="fas fa-file-invoice"></i> Adjuntar ficha técnica
                                        </button></td>
                                </tr>


                            </tbody>
                        </table>

                        <!-- Modal -->
                        <div class="modal fade" id="Modal_adjuntar_ficha" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Adjunar ficha técnica</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <form [formGroup]="form_ficha_tecnica">
                                                <label for="formFile" class="form-label">Seleccione el archivo</label>
                                                <input formControlName="ficha_tecnica" (change)="onFileSelected($event)" accept="application/pdf" class="form-control" type="file" id="formFile">

                                                <div *ngIf="form_ficha_tecnica.get('ficha_tecnica')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El archivo es requerido.
                                                    </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button (click)="adjuntar_ficha_tecnica(form_ficha_tecnica.value)" type="button" class="btn btn-primary">Adjuntar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



    </div>

</body>

</html>