<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de permisos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">
            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div *ngIf="!loading" class="container-fluid pt-4 px-4">

                <div class="bg-light rounded h-100">

                    <div *ngIf="ver_informacion_basica === 1" class="seccion_informacion_basica">
                        <!-- Sección de Información Básica -->
                        <div class="text-center mb-4">
                            <h2>Información Básica</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <p><strong class="mx-2">ID #1:</strong>{{activoData?.id_primario}}</p>
                                <p><strong class="mx-2">ID #2:</strong>{{activoData?.id_secundario}}</p>
                                <p><strong class="mx-2">TIPO DE ACTIVO:</strong>{{activoData?.tipo_de_equipo}}</p>
                                <p><strong class="mx-2">FABRICANTE:</strong>{{activoData?.fabricante}}</p>
                                <p><strong class="mx-2">MODELO:</strong>{{activoData?.modelo}}</p>
                                <p><strong class="mx-2">#SERIE</strong>{{activoData?.num_serie}}</p>
                                <p><strong class="mx-2">UBICACIÓN:</strong>{{activoData?.ubicacion}}</p>
                            </div>

                            <!-- Columna Derecha (Imagen) -->
                            <div class="col-md-6 text-center">
                                <img width="200px" height="200px"
                                    src={{activoData?.imagen_equipo}}
                                    alt="Imagen del Activo" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>

                    <button *ngIf="registrar_servicio === 1" class="btn_register mb-2"><i class="fi fi-br-wrench-simple me-2"></i>Registrar
                        Servicio</button>
                    <button *ngIf="registrar_novedad === 1" class="btn_register mx-2 mb-2"><i class="fi fi-br-bullhorn me-2"></i> Registrar
                        Novedad</button>

                    <div *ngIf="ver_historial_servicios === 1" class="seccion_historial_servicios mt-4">
                        <!-- Sección de Historial de Servicios -->
                        <div class="text-center mb-4">
                            <h2>Historial de Servicios</h2>
                        </div>
                        <button (click)="toggleTablaHistorial()" class="swallow__icon">
                            <span></span>
                        </button>

                        <div class="transition-height" [ngClass]="{'colapsada': isTablaHistorialColapsada}">
                            <!-- Tabla de Historial de Servicios -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID SERV.</th>
                                        <th scope="col">FECHA EJECUCIÓN</th>
                                        <th scope="col">RESPONSABLE DE SERVICIO</th>
                                        <th scope="col">TIPO DE SERVICIO</th>
                                        <th scope="col">DESCRIPCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aquí irán las filas con la información del historial de servicios -->
                                    <tr>
                                        <td>1</td>
                                        <td>2023-09-18 09:43:00</td>
                                        <td>Juan Perez</td>
                                        <td>Mantenimiento Preventivo</td>
                                        <td>Descripción del servicio realizado...</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2023-09-18 09:43:00</td>
                                        <td>Juan Perez</td>
                                        <td>Mantenimiento Preventivo</td>
                                        <td>Descripción del servicio realizado...</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2023-09-18 09:43:00</td>
                                        <td>Juan Perez</td>
                                        <td>Mantenimiento Preventivo</td>
                                        <td>Descripción del servicio realizado...</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div *ngIf="ver_novedades === 1" class="seccion_ver_novedades">
                        <!-- Sección de Ver Novedades -->
                        <div class="text-center mb-4">
                            <h2>Ver Novedades</h2>
                        </div>
                        <button (click)="toggleTablaNovedades()" class="swallow__icon">
                            <span></span>
                        </button>

                        <div class="transition-height" [ngClass]="{'colapsada': isTablaNovedadesColapsada}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Activo</th>
                                        <th>Fecha</th>
                                        <th>Persona que Reporta</th>
                                        <th>Empresa que Reporta</th>
                                        <th>Cargo</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Filas de la tabla (puedes usar un *ngFor aquí si los datos son dinámicos) -->
                                    <tr>
                                        <td>Activo 1</td>
                                        <td>2023-09-20</td>
                                        <td>Juan Pérez</td>
                                        <td>Empresa X</td>
                                        <td>Supervisor</td>
                                        <td>Descripción de la novedad 1</td>
                                    </tr>
                                    <tr>
                                        <td>Activo 2</td>
                                        <td>2023-09-21</td>
                                        <td>Maria Rodríguez</td>
                                        <td>Empresa Y</td>
                                        <td>Técnico</td>
                                        <td>Descripción de la novedad 2</td>
                                    </tr>
                                    <!-- ... Agrega más filas según necesites ... -->
                                </tbody>
                            </table>

                        </div>


                    </div>

                </div>
                <app-spinner *ngIf="loading"></app-spinner>
            </div>

        </div>
    </div>


</body>

</html>