<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisos recibidos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">
            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <h1 class="h3 mb-4 text-gray-800">Compartido conmigo</h1>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id primario</th>
                                <th scope="col">Tipo de equipo</th>
                                <th scope="col">Información básica</th>
                                <th scope="col">Historial de servicios</th>
                                <th>Ver costo de servicios</th>
                                <th>Ver novedades</th>
                                <th>Registrar servicio</th>
                                <th>Registrar Novedad</th>
                                <th>Ver</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let permiso of lista_permisos_recibidos">
                                <td>{{permiso.activo_id_primario}}</td>

                                <td>{{permiso.activo_tipo_de_equipo}}</td>

                                <td>
                                    <p *ngIf="permiso.ver_informacion_basica == 1; else elseInformacion">Si</p>
                                    <ng-template #elseInformacion>No</ng-template>
                                </td>

                                <td>
                                    <p *ngIf="permiso.ver_historial_servicios == 1; else elseHistorial">Si</p>
                                    <ng-template #elseHistorial>No</ng-template>
                                </td>

                                <td>
                                    <p *ngIf="permiso.ver_costo_servicio == 1; else elseCosto">Si</p>
                                    <ng-template #elseCosto>No</ng-template>
                                </td>

                                <td>
                                    <p *ngIf="permiso.ver_novedades == 1; else elseNovedades">Si</p>
                                    <ng-template #elseNovedades>No</ng-template>
                                </td>

                                <td>
                                    <p *ngIf="permiso.registrar_servicio == 1; else elseRegistrarServicio">Si</p>
                                    <ng-template #elseRegistrarServicio>No</ng-template>
                                </td>

                                <td>
                                    <p *ngIf="permiso.registrar_novedad == 1; else elseRegistrarNovedad">Si</p>
                                    <ng-template #elseRegistrarNovedad>No</ng-template>
                                </td>

                                <td><button [routerLink]="['/informacion_permisos', permiso.id_permiso]" class="btn_opciones">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                            <path
                                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                        </svg>
                                    </button></td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>
    </div>

</body>

</html>