<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">

            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <h1 class="h3 mb-4 text-gray-800">Activos</h1>

                    <div class="row">
                        <div class="col-md-2 pe-0">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#Modal_registar_activo">
                                <i class="fas fa-plus-circle"></i> Registrar activo
                            </button>
                        </div>

                        <div class="col-md-2
                        ">
                            <!-- Segundo botón -->
                            <button type="button" (click)="listar_activos_eliminados()" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#ModalActivosEliminados">
                                <i class="fi fi-br-time-delete me-2"></i>Activos eliminados
                            </button>
                        </div>
                    </div>

                    <div class="col-md-2 pe-0">


                        <!-- Modal registrar activo -->
                        <div class="modal fade" id="Modal_registar_activo" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Registrar activo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="form_activo">
                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="id_primario" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">ID primario</label>
                                                    </div>

                                                    <div *ngIf="form_activo.get('id_primario')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El ID primario es requerido.
                                                    </div>

                                                    <div *ngIf="form_activo.get('id_primario')?.hasError('minlength') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        Debe escribir como minimo tres caracteres.
                                                    </div>

                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="id_secundario" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">ID secundario</label>
                                                    </div>

                                                    <div *ngIf="form_activo.get('id_secundario')?.hasError('minlength') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        Debe escribir como minimo tres caracteres.
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="ubicacion" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Ubicación</label>
                                                    </div>

                                                    <div *ngIf="form_activo.get('ubicacion')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        La ubicación es requerida.
                                                    </div>

                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="tipo_de_equipo" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Tipo de equipo</label>
                                                    </div>
                                                    <div *ngIf="form_activo.get('tipo_de_equipo')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El tipo de equipo es requerido.
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="fabricante" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Fabricante</label>
                                                    </div>
                                                    <div *ngIf="form_activo.get('fabricante')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El fabricante es requerido.
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="modelo" type="text" class="form-control"
                                                            id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Modelo</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="num_serie" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Numero de serie</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <textarea formControlName="datos_relevantes"
                                                            class="form-control" id="floatingInput"></textarea>
                                                        <label for="floatingInput">Datos relevantes</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <input formControlName="imagen_equipo" class="form-control"
                                                            type="file" (change)="onFileSelected($event)"
                                                            accept="image/jpeg, image/png" id="formFile">
                                                        <label for="formFile" class="form-label">Cargar imagen</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <label for="select_subcliente">Selecciona el subcliente</label>
                                                        <select id="select_subcliente" formControlName="subcliente"
                                                            class="form-select" aria-label="Default select example">
                                                            <option *ngFor="let subcliente of listaSubclientes"
                                                                [value]="subcliente.id_subcliente">{{subcliente.nombre}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div *ngIf="form_activo.get('subcliente')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El cliente es requerido.
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">
                                                <label for="">Activo publico:</label>
                                                <div class="form-check">
                                                    <input formControlName="publico" class="form-check-input"
                                                        [value]="1" type="radio" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Sí
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input formControlName="publico" class="form-check-input"
                                                        [value]="0" type="radio" id="flexRadioDefault2" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        No
                                                    </label>
                                                </div>

                                                <div *ngIf="form_activo.get('publico')?.hasError('required') && (submitted)"
                                                    class="alert alert-primary" role="alert">
                                                    <i class="fi fi-br-exclamation"></i>
                                                    El campo publico es requerido.
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button (click)="registrar_activo(form_activo.value)" type="button"
                                            class="btn btn-primary">Registrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin Modal registar activo-->

                        <!-- Modal activos eliminados -->
                        <div class="modal fade" id="ModalActivosEliminados" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Activos eliminados</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Id primario</th>
                                                    <th scope="col">Id secundario</th>
                                                    <th scope="col">Tipo de equipo</th>
                                                    <th scope="col">Ubicación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let activo of listaActivosEliminados">
                                                    <td>{{activo.id_primario}}</td>
                                                    <td>{{activo.id_secundario}}</td>
                                                    <td>{{activo.tipo_de_equipo}}</td>
                                                    <td>{{activo.ubicacion}}</td>
                                                    <td><button type="button"
                                                            (click)="restaurar_activo(activo.id_activo)"
                                                            class="btn btn-success"><i
                                                                class="fi fi-br-time-past me-2"></i>Restaurar</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin modal de activos eliminados-->

                    </div>

                    <div class="col-12 pt-4">
                        <h6 class="mb-4">Historial de activos</h6>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID primario</th>
                                    <th scope="col">ID secundario</th>
                                    <th scope="col">Tipo de equipo</th>
                                    <th scope="col">Fecha de registro</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Eliminar</th>
                                    <th scope="col">Ver más</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let activo of listaActivos">
                                    <th>{{activo.id_primario}}</th>
                                    <td>{{activo.id_secundario}}</td>
                                    <td>{{activo.tipo_de_equipo}}</td>
                                    <td>{{activo.fecha_registro}}</td>
                                    <td><button type="button" class="btn btn-success"
                                            (click)="set_form_edit_activo(activo)" data-bs-toggle="modal"
                                            data-bs-target="#Modal_editar_activo">
                                            <i class="fi fi-br-edit me-2"></i>Editar
                                        </button></td>
                                    <td><a class="btn btn-danger" (click)="eliminar_activo(activo.id_activo)"><i
                                                class="fi fi-br-trash me-2"></i>Eliminar</a></td>
                                    <td><button type="button"
                                            (click)="ver_mas(activo.subcliente,activo.modelo,activo.fabricante,activo.num_serie,activo.datos_relevantes,activo.ubicacion,activo.imagen_equipo, activo.ficha_tecnica, activo.codigo_qr)"
                                            class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Modal_ver_mas">
                                            <i class="fi fi-br-eye me-2"></i>Ver más
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Modal Editar activo -->
                        <div class="modal fade" id="Modal_editar_activo" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar activo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="form_edit_activo">
                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" formControlName="id_primario"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">ID primario</label>

                                                        <div *ngIf="form_edit_activo.get('id_primario')?.hasError('required') && (submitted)"
                                                            class="alert alert-primary" role="alert">
                                                            <i class="fi fi-br-exclamation"></i>
                                                            El ID primario es requerido.
                                                        </div>

                                                        <div *ngIf="form_edit_activo.get('id_primario')?.hasError('minlength') && (submitted)"
                                                            class="alert alert-primary" role="alert">
                                                            <i class="fi fi-br-exclamation"></i>
                                                            Debe escribir como minimo tres caracteres.
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="id_secundario" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">ID secundario</label>

                                                        <div *ngIf="form_edit_activo.get('id_secundario')?.hasError('minlength') && (submitted)"
                                                            class="alert alert-primary" role="alert">
                                                            <i class="fi fi-br-exclamation"></i>
                                                            Debe escribir como minimo tres caracteres.
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="ubicacion" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Ubicación</label>
                                                    </div>

                                                    <div *ngIf="form_edit_activo.get('ubicacion')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        La ubicación es requerida.
                                                    </div>

                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="tipo_de_equipo" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Tipo de equipo</label>
                                                    </div>

                                                    <div *ngIf="form_edit_activo.get('tipo_de_equipo')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El tipo de equipo es requerido.
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="fabricante" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Fabricante</label>
                                                    </div>

                                                    <div *ngIf="form_edit_activo.get('fabricante')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El fabricante es requerido.
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="modelo" type="text" class="form-control"
                                                            id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Modelo</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="num_serie" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Numero de serie</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="datos_relevantes" type="text"
                                                            class="form-control" id="floatingInput" placeholder="">
                                                        <label for="floatingInput">Datos relevantes</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <label>Selecciona el subcliente
                                                            <select formControlName="subcliente"
                                                                class="form-select form-select"
                                                                aria-label=".form-select-sm example">
                                                                <option *ngFor="let subcliente of listaSubclientes"
                                                                    [value]="subcliente.id_subcliente">
                                                                    {{subcliente.nombre}}
                                                                </option>
                                                            </select>
                                                        </label>


                                                        <div *ngIf="form_edit_activo.get('subcliente')?.hasError('required') && (submitted)"
                                                            class="alert alert-primary" role="alert">
                                                            <i class="fi fi-br-exclamation"></i>
                                                            El cliente es requerido.
                                                        </div>

                                                    </div>
                                                </div>

                                                <div *ngIf="imagen" class="col-md-6">
                                                    <input class="form-control" type="file"
                                                        (change)="onFileSelected($event)" accept="image/jpeg, image/png"
                                                        id="formFile">
                                                    <label for="formFile" class="form-label">Cargar imagen</label>

                                                </div>

                                            </div>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" (click)="editar_activo(form_edit_activo.value)"
                                            class="btn btn-primary">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal ver mas -->
                        <div class="modal fade" id="Modal_ver_mas" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Información de activo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Mostrar la imagen de portada del activo centrada -->
                                        <img loading="lazy" id="imagenPortadaActivo" src={{info_imagen}} width="200px"
                                            height="200px" alt="Imagen de Portada" class="img-fluid mx-auto d-block">
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Cliente:</h6>
                                                <p>{{info_subcliente}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- Mostrar el modelo del activo -->
                                                <h6>Modelo:</h6>
                                                <p>{{info_modelo}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el fabricante del activo -->
                                                <h6>Fabricante:</h6>
                                                <p>{{info_fabricante}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Número de Serie:</h6>
                                                <p>{{info_num_serie}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Datos relevantes:</h6>
                                                <p>{{info_datos_relevantes}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Ubicacion:</h6>
                                                <p>{{info_ubicacion}}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <a *ngIf="info_ficha_tecnica" href={{info_ficha_tecnica}} target="_blank"
                                            rel="noopener noreferrer" type="button" class="btn btn-primary"><i
                                                class="fi fi-br-document me-2"></i>Ver ficha técnica</a>
                                        <a href={{info_codigo_qr}} target="_blank" rel="noopener noreferrer"
                                            type="button" class="btn btn-primary"><i class="fas fa-qrcode me-2"></i>Ver
                                            código QR</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <!-- Fin de contenido -->

            <!--Footer-->
            <app-footer></app-footer>


        </div>
    </div>

</body>

</html>