<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">

            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <h1 class="h3 mb-4 text-gray-800">Activos</h1>

                    <div class="col-md-2 pe-0">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#Modal_registar_activo">
                            <i class="fas fa-plus-circle"></i> Registrar activo
                        </button>

                        <!-- Modal registrar ativo -->
                        <div class="modal fade" id="Modal_registar_activo" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Registrar activo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">ID primario</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">ID secundario</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Ubicación</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Tipo de equipo</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Fabricante</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Modelo</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Numero de serie</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control" id="floatingInput"></textarea>
                                                        <label for="floatingInput">Datos relevantes</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <input class="form-control" type="file"
                                                            accept="image/jpeg, image/png" id="formFile">
                                                        <label for="formFile" class="form-label">Cargar imagen</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <select class="form-select form-select"
                                                            aria-label=".form-select-sm example">
                                                            <option selected>Seleccionar cliente</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>

                                                </div>

                                            </div>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary">Registrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin Modal registar activo-->

                    </div>

                    <div class="col-12 pt-4">
                        <h6 class="mb-4">Historial de activos</h6>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID primario</th>
                                    <th scope="col">ID secundario</th>
                                    <th scope="col">Tipo de equipo</th>
                                    <th scope="col">Fecha de registro</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Eliminar</th>
                                    <th scope="col">Ver más</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let activo of listaActivos">
                                    <th>{{activo.id_primario}}</th>
                                    <td>{{activo.id_secundario}}</td>
                                    <td>{{activo.tipo_de_equipo}}</td>
                                    <td>{{activo.fecha_registro}}</td>
                                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            data-bs-target="#Modal_editar_activo">
                                            <i class="fi fi-br-edit me-2"></i>Editar
                                        </button></td>
                                    <td><a class="btn btn-danger"><i class="fi fi-br-trash me-2"></i>Eliminar</a></td>
                                    <td><button type="button" (click)="ver_mas(activo.subcliente,activo.modelo,activo.fabricante,activo.num_serie,activo.datos_relevantes,activo.ubicacion,activo.imagen_equipo, activo.ficha_tecnica, activo.codigo_qr)" class="btn btn-info"
                                            data-bs-toggle="modal" data-bs-target="#Modal_ver_mas">
                                            <i class="fi fi-br-eye me-2"></i>Ver más
                                        </button></td>
                                </tr>



                            </tbody>
                        </table>

                        <!-- Modal Editar activo -->
                        <div class="modal fade" id="Modal_editar_activo" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar activo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">ID primario</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">ID secundario</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Ubicación</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Tipo de equipo</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Fabricante</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Modelo</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Numero de serie</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput"
                                                            placeholder="">
                                                        <label for="floatingInput">Datos relevantes</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row p-1">

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <input class="form-control" type="file"
                                                            accept="image/jpeg, image/png" id="formFile">
                                                        <label for="formFile" class="form-label">Cargar imagen</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <div class="mb-3">
                                                        <select class="form-select form-select"
                                                            aria-label=".form-select-sm example">
                                                            <option selected>Seleccionar cliente</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>

                                                </div>

                                            </div>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal ver mas -->
                        <div class="modal fade" id="Modal_ver_mas" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Información de activo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Mostrar la imagen de portada del activo centrada -->
                                        <img id="imagenPortadaActivo" src={{info_imagen}} width="100px" height="100px" alt="Imagen de Portada"
                                            class="img-fluid mx-auto d-block">
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Cliente:</h6>
                                                <p>{{info_subcliente}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- Mostrar el modelo del activo -->
                                                <h6>Modelo:</h6>
                                                <p>{{info_modelo}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el fabricante del activo -->
                                                <h6>Fabricante:</h6>
                                                <p>{{info_fabricante}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Número de Serie:</h6>
                                                <p>{{info_num_serie}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Datos relevantes:</h6>
                                                <p>{{info_datos_relevantes}}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Mostrar el número de serie del activo -->
                                                <h6>Ubicacion:</h6>
                                                <p>{{info_ubicacion}}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <a href={{info_ficha_tecnica}} target="_blank" rel="noopener noreferrer" type="button" class="btn btn-primary"><i class="fi fi-br-document me-2"></i>Ver ficha técnica</a>
                                        <a href={{info_codigo_qr}} target="_blank" rel="noopener noreferrer" type="button" class="btn btn-primary"><i class="fas fa-qrcode me-2"></i>Ver código QR</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <!-- Fin de contenido -->

            <!--Footer-->
            <app-footer></app-footer>


        </div>
    </div>

</body>

</html>