.btn_opciones {
    background: none;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
  }
  
  .btn_opciones:hover {
    background: rgba(102, 102, 102, 0.062);
    transition: 0.5s;
  }
  
  .btn_opciones svg {
    color: #fff;
  }

  .btn_register {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .btn_register:hover {
    background-color: #6cb7ea;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .btn_register:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .btn_activos_eliminados {
    width: 50px;
    height: 50px;

    background-color: #2ba8fb;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: #004dff;
    transition: 0.5s;
    padding: 1px 4px;

    
  }
  
  .btn_activos_eliminados:hover {
    transform: scale(1.1);
  }
  

  
  