<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card__corner"></div>
            <div class="card__img">
                <a rel="noreferrer" href="https://homecenterco.scene7.com/is/image/SodimacCO/316189" target="_blank">
                    <img src="https://homecenterco.scene7.com/is/image/SodimacCO/316189"
                    class="img-fluid" width="220px" height="220px" alt="Foto de activo">
                </a>
            </div>
            <div class="card-int">
                <p class="card-int__title">Tipo de equipo</p>
                <p class="excerpt"><strong>ID primario: </strong>1013</p>
                <p class="excerpt"><strong>ID secundario: </strong>1013</p>
                <p class="excerpt"><strong>Fecha de registro: </strong>27/10/2023</p>
                <p class="excerpt"><strong>Ubicación: </strong>Calle 29</p>
                <p class="excerpt"><strong>Fabricante: </strong>Olimpo</p>
                <p class="excerpt"><strong>Modelo: </strong>2019</p>
                <p class="excerpt"><strong>Número de serie: </strong>099933813</p>
                <button class="card-int__button">Ver</button>
            </div>
        </div>
    </div>
</body>

</html>