<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card__corner"></div>
            <div class="card__img">
                <a rel="noreferrer" href={{activoData?.imagen_equipo}} target="_blank">
                    <img src={{activoData?.imagen_equipo}}
                    class="img-fluid" width="220px" height="220px" alt="Foto de activo">
                </a>
            </div>
            <div class="card-int">
                <p class="card-int__title">{{activoData?.tipo_de_equipo}}</p>
                <p class="excerpt"><strong>ID primario: </strong>{{activoData?.id_primario}}</p>
                <p class="excerpt"><strong>ID secundario: </strong>{{activoData?.id_secundario}}</p>
                <p class="excerpt"><strong>Ubicación: </strong>{{activoData?.ubicacion}}</p>
                <p class="excerpt"><strong>Fabricante: </strong>{{activoData?.fabricante}}</p>
                <p class="excerpt"><strong>Modelo: </strong>{{activoData?.modelo}}</p>
                <p class="excerpt"><strong>Número de serie: </strong>{{activoData?.num_serie}}</p>
                <button class="card-int__button">Ver</button>
            </div>
        </div>
    </div>
</body>

</html>