<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>


</head>

<body>
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3 h-100" [ngClass]="{'open': isOpen}">
        <nav class="navbar">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>AMC</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="../../../assets/user.png" alt=""
                        style="width: 40px; height: 40px;">
                    <div
                        class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">{{nombre_usuario}}</h6>
                    <span>Usuario</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a [routerLink]="'/activos'" [routerLinkActive]="'active'" class="nav-item nav-link"><i
                        class="fi fi-br-laptop me-2"></i>Activos</a>

                <a [routerLink]="'/servicios'" [routerLinkActive]="'active'" class="nav-item nav-link"><i
                        class="fi fi-br-tool-box me-2"></i>Servicios</a>

                <a [routerLink]="'/ficha_tecnica'" [routerLinkActive]="'active'" class="nav-item nav-link"><i
                        class="fi fi-br-document me-2"></i>Ficha tecnica</a>

                <a [routerLink]="'/informe_servicio'" [routerLinkActive]="'active'" class="nav-item nav-link"><i
                        class="fi fi-br-template me-2"></i>Informe a servicio</a>

                <a [routerLink]="'/costo_servicio'" [routerLinkActive]="'active'" class="nav-item nav-link"><i
                        class="fi fi-br-file-invoice-dollar me-2"></i>Costo de servicio</a>

                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fi fi-br-share me-2"></i>Permisos</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="#" class="dropdown-item">Sign In</a>
                        <a [routerLink]="'/permisos'" class="dropdown-item"><i class="fi fi-br-user-add me-2"></i>Dar
                            permisos</a>
                    </div>
                </div> -->

                <div class="dropdown nav-item">
                    <a href="#"  class="dropbtn nav-link" data-bs-toggle="dropdown"><i
                            class="fi fi-br-share me-2"></i>Permisos</a>
                    <div class="dropdown-content nav-item nav-link">
                        <a [routerLink]="'/permisos'" [routerLinkActive]="'active'" class="nav-link dropdown-item " ><i class="fi fi-br-user-add me-2"></i>Dar permisos</a>
                        <a [routerLink]="'/permisos_recibidos'" [routerLinkActive]="'active'" class="nav-link dropdown-item " ><i class="fi fi-br-users me-2"></i>Permisos recibidos</a>
                    </div>
                </div>


            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

</body>

</html>