.btn_opciones {
    background: none;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
  }
  
  .btn_opciones:hover {
    background: rgba(102, 102, 102, 0.062);
    transition: 0.5s;
  }
  
  .btn_opciones svg {
    color: #fff;
  }