<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content">

            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <h1 class="h3 mb-4 text-gray-800">Permisos</h1>

                </div>

                

            </div>


        </div>
    </div>
    
</body>
</html>