<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de activo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<body>
    <!-- pagina para ver la informacion del activo al dar clic al boton ver mas -->
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">
            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <div class="text-center mb-4">
                        <h2>Información técnica</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <p><strong class="mx-2">ID #1:</strong>{{activoData?.id_primario}}</p>
                            <p><strong class="mx-2">ID #2:</strong>{{activoData?.id_secundario}}</p>
                            <p><strong class="mx-2">TIPO DE ACTIVO:</strong>{{activoData?.tipo_de_equipo}}</p>
                            <p><strong class="mx-2">FABRICANTE:</strong>{{activoData?.fabricante}}</p>
                            <p><strong class="mx-2">MODELO:</strong>{{activoData?.modelo}}</p>
                            <p><strong class="mx-2">#SERIE</strong>{{activoData?.num_serie}}</p>
                            <p><strong class="mx-2">UBICACIÓN:</strong>{{activoData?.ubicacion}}</p>
                        </div>

                        <!-- Columna Derecha (Imagen) -->
                        <div class="col-md-6 text-center">
                            <img src={{activoData?.imagen_equipo}} width="300px" height="300px" alt="Imagen del Activo"
                                class="img-fluid mx-auto d-block">
                        </div>
                    </div>

                    <button data-bs-toggle="modal" data-bs-target="#Modal_registar_servicio" class="btn_ficha mb-2"><i
                            class="fi fi-br-document me-2"></i>Adjuntar ficha técnica</button>

                    <div class="text-center mb-4">
                        <h2>Historial de Servicios</h2>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID SERV.</th>
                                <th scope="col">FECHA EJECUCIÓN</th>
                                <th scope="col">RESPONSABLE DE SERVICIO</th>
                                <th scope="col">TIPO DE SERVICIO</th>
                                <th scope="col">DESCRIPCIÓN</th>
                                <th scope="col">INFORME</th>
                                <th scope="col">COSTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio of ServicioData">
                                <td>{{servicio.numero_servicio}}</td>
                                <td>{{servicio.fecha_ejecucion}}</td>
                                <td>{{servicio.nombre_usuario}}</td>
                                <td>{{servicio.tipo}}</td>
                                <td>{{servicio.descripcion}}</td>
                                <td><a class="btn_opciones" *ngIf="servicio.informe" target="_blank"
                                        href={{servicio.informe}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                            <path
                                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                        </svg>
                                    </a>

                                    <button *ngIf="!servicio.informe" data-bs-toggle="modal" data-bs-target="#Modal_editar_activo"
                                        class="btn_opciones">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-paperclip" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                                        </svg>
                                    </button>
                                </td>

                                <td>
                                    <a class="btn_opciones" *ngIf="servicio.costo" target="_blank"
                                        href={{servicio.costo}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                            <path
                                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                        </svg>
                                    </a>

                                    <button *ngIf="!servicio.costo" data-bs-toggle="modal" data-bs-target="#Modal_editar_activo"
                                        class="btn_opciones">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-paperclip" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                                        </svg>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
    </div>

</body>

</html>