<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de activo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<body>
    <!-- pagina para ver la informacion del activo al dar clic al boton ver mas -->
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!--Componente sidebar (Barra lateral)-->
        <app-sidebar></app-sidebar>

        <div class="content" [ngClass]="{'open': isOpen}">
            <!--Componente navbar-->
            <app-navbar></app-navbar>

            <!-- Contenido -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded h-100">
                    <div class="text-center mb-4">
                        <h2>Información técnica</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <p><strong class="mx-2">ID #1:</strong>{{activoData?.id_primario}}</p>
                            <p><strong class="mx-2">ID #2:</strong>{{activoData?.id_secundario}}</p>
                            <p><strong class="mx-2">TIPO DE ACTIVO:</strong>{{activoData?.tipo_de_equipo}}</p>
                            <p><strong class="mx-2">FABRICANTE:</strong>{{activoData?.fabricante}}</p>
                            <p><strong class="mx-2">MODELO:</strong>{{activoData?.modelo}}</p>
                            <p><strong class="mx-2">#SERIE</strong>{{activoData?.num_serie}}</p>
                            <p><strong class="mx-2">UBICACIÓN:</strong>{{activoData?.ubicacion}}</p>
                        </div>

                        <!-- Columna Derecha (Imagen) -->
                        <div class="col-md-6 text-center">
                            <img [src] = "imagenActivo" width="300px" height="300px" alt="Imagen del Activo"
                                class="img-fluid mx-auto d-block">

                        </div>
                    </div>

                    <button *ngIf="!activoData?.ficha_tecnica" data-bs-toggle="modal"
                        data-bs-target="#Modal_adjuntar_ficha" class="btn_ficha mb-2"><i
                            class="fi fi-br-document me-2"></i>Adjuntar ficha técnica</button>

                    <a *ngIf="activoData?.ficha_tecnica" href={{urlFichaTecnica}} target="_blank"
                        class="btn btn_ficha mb-2"><i class="fi fi-br-document me-2"></i>Ver ficha técnica</a>

                    <!-- Boton para ver codigo QR -->
                    <button type="button" class="btn btn_ficha mx-3 mb-2" data-bs-toggle="modal"
                        data-bs-target="#ModalQR">
                        <i class="fi fi-br-qrcode me-2"></i>Ver código QR
                    </button>

                    <!-- Modal de ver codigo QR -->
                    <div class="modal fade" id="ModalQR" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <img src={{imagenQR}} alt="Codigo QR">
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button (click)="descargarImagen()" class="btn btn-primary">Descargar QR</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-4">
                        <h2>Historial de Servicios</h2>
                    </div>

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID SERV.</th>
                                <th scope="col">FECHA EJECUCIÓN</th>
                                <th scope="col">RESPONSABLE DE SERVICIO</th>
                                <th scope="col">TIPO DE SERVICIO</th>
                                <th scope="col">DESCRIPCIÓN</th>
                                <th scope="col">INFORME</th>
                                <th scope="col">COSTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio of ServicioData">
                                <td>{{servicio.numero_servicio}}</td>
                                <td>{{servicio.fecha_ejecucion}}</td>
                                <td>{{servicio.nombre_usuario}}</td>
                                <td>{{servicio.tipo}}</td>
                                <td>{{servicio.descripcion}}</td>
                                <td>
                                    <!--Boton de ver informe-->
                                    <button (click)="verDocumento(servicio.informe)" class="btn_opciones" *ngIf="servicio.informe">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                            <path
                                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                        </svg>
                                    </button>

                                    <!--Boton de adjuntar informe-->
                                    <button (click)="obtener_id_servicio(servicio)" *ngIf="!servicio.informe"
                                        data-bs-toggle="modal" data-bs-target="#Modal_adjuntar_informe"
                                        class="btn_opciones">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-paperclip" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                                        </svg>
                                    </button>
                                </td>

                                <td>
                                    <!--Boton de ver costo-->
                                    <button (click)="verDocumento(servicio.costo)" class="btn_opciones" *ngIf="servicio.costo">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye"
                                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                            <path
                                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                        </svg>
                                    </button>

                                    <!--Boton de adjuntar costo-->
                                    <button (click)="obtener_id_servicio(servicio)" *ngIf="!servicio.costo"
                                        data-bs-toggle="modal" data-bs-target="#Modal_adjuntar_cotizacion"
                                        class="btn_opciones">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-paperclip" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                                        </svg>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Modal adjuntar informe -->
                    <div class="modal fade" id="Modal_adjuntar_informe" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Adjunar informe</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <form [formGroup]="form_informe_servicio">
                                            <label for="formFile" class="form-label">Seleccione el archivo</label>
                                            <input (change)="onFileSelected($event, 'informes_de_servicio/')" formControlName="informe"
                                                accept="application/pdf" class="form-control" type="file" id="formFile">

                                            <div *ngIf="form_informe_servicio.get('informe')?.hasError('required') && (submitted)"
                                                class="alert alert-primary" role="alert">
                                                <i class="fi fi-br-exclamation"></i>
                                                El archivo es requerido.
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary"
                                        (click)="adjuntar_informe()">Adjuntar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal adjuntar costo -->
                    <div class="modal fade" id="Modal_adjuntar_cotizacion" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Adjuntar cotización</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <form [formGroup]="form_costo_servicio">
                                            <div class="row p-1">
                                                <div class="col-md-6 ">
                                                    <label for="">Ingrese el costo</label>
                                                    <input formControlName="costo" type="number" min="0">

                                                    <div *ngIf="form_costo_servicio.get('costo')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El costo es requerido.
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <label for="formFile" class="form-label">Seleccione la
                                                        cotización</label>
                                                    <input formControlName="cotizacion"
                                                        (change)="onFileSelected($event, 'cotizaciones/')" accept="application/pdf"
                                                        class="form-control" type="file" id="formFile">

                                                    <div *ngIf="form_costo_servicio.get('cotizacion')?.hasError('required') && (submitted)"
                                                        class="alert alert-primary" role="alert">
                                                        <i class="fi fi-br-exclamation"></i>
                                                        El archivo es requerido.
                                                    </div>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary"
                                        (click)="adjuntar_cotizacion(form_costo_servicio.value)">Adjuntar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal adjuntar ficha tecnica -->
                    <div class="modal fade" id="Modal_adjuntar_ficha" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Adjunar ficha técnica</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <form [formGroup]="form_ficha_tecnica">
                                            <label for="formFile" class="form-label">Seleccione el archivo</label>
                                            <input formControlName="ficha_tecnica" (change)="onFileSelected($event, 'fichas_tecnicas/')"
                                                accept="application/pdf" class="form-control" type="file" id="formFile">

                                            <div *ngIf="form_ficha_tecnica.get('ficha_tecnica')?.hasError('required') && (submitted)"
                                                class="alert alert-primary" role="alert">
                                                <i class="fi fi-br-exclamation"></i>
                                                El archivo es requerido.
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button (click)="adjuntar_ficha_tecnica(form_ficha_tecnica.value)" type="button"
                                        class="btn btn-primary">Adjuntar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</body>

</html>